<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.T1ChambaSolution"
        tools:targetApi="31">
        <activity
            android:name=".MiTarjeta"
            android:exported="false" />
        <activity
            android:name=".NuestraUbicacion"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyATF3F7Q4Iua9MrLRIEcUKnpOQFtiM_mgA" />

        <activity
            android:name=".DetallePedido"
            android:exported="false" />
        <activity
            android:name=".MisPedidos"
            android:exported="false" />
        <activity
            android:name=".CompraExitosaActivity"
            android:exported="false" />
        <activity
            android:name=".OpcionesDeAplicacionActivity"
            android:exported="false" />
        <activity
            android:name=".CarritoDeComprasActivity"
            android:exported="false" />
        <activity
            android:name=".CompraActivity"
            android:exported="false" />
        <activity
            android:name=".CompraRechazadaActivity"
            android:exported="false" />
        <activity
            android:name=".AnadirTarjetaActivity"
            android:exported="false" />
        <activity
            android:name=".EditarPerfilActivity"
            android:exported="false" />
        <activity
            android:name=".PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".RecuperarContrActivity"
            android:exported="false" />
        <activity
            android:name=".PersonalizadoActivity"
            android:exported="false" />
        <activity
            android:name=".ProfecionesActivity"
            android:exported="false" />
        <activity
            android:name=".MetodosDePagoActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroActivity"
            android:exported="false" />
        <activity
            android:name=".CargaActivity"
            android:exported="false" />
        <activity
            android:name=".InicioSesionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>